body{
    background-color: lightgray;
    //选择器嵌套
    .header{
        background-color: lightgreen;
    }

    .footer{
        //属性嵌套
        background: {
            color: lightpink;
            size: 100% 50%;
        }
    }
}